modules = ["web", "python-3.12"]
run = "  python app_production.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "gunicorn app_production:app --bind 0.0.0.0:3000 --workers=4"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000
